body {
  margin: 0;
  background: #213547;
  overflow: hidden;
  text-align: center;
}

#canvas {
  background: #212121;
}

.button {
  z-index: 8;
  position: fixed;
  top: 10px;
  left: 10px;
}

#status {
  z-index: 8;
  position: fixed;
  top: 10px;
  left: 200px;
  color: #fff;
  font-size: 20px;
}
